.cart-page {
    padding: 200px 30px 10px 30px;
    .cart-container {
        .cart-header {
            display: grid;
            gap: 10px;
            padding: 10px;
            grid-template-columns: 50px auto auto auto auto auto auto;
            .item1 {
                grid-column-start: 2;
                grid-column-end: 4;
            }
        }
        .cart-items {
            .cart-item {
                display: grid;
                gap: 10px;
                padding: 10px;
                grid-template-columns: 50px auto auto auto auto auto auto auto;
                /* .item1 {
                    grid-column-start: 2;
                    grid-column-end: 4;
                } */
                img {
                    width: 90px;
                }
            }
        }
    }
}