.order-page {
    padding: 120px 30px 10px 30px;
    .order-items {
        .cart-item {
            display: grid;
            gap: 10px;
            padding: 10px;
            align-items: center;
            grid-template-columns:auto auto auto auto auto auto auto;
            /* .item1 {
                grid-column-start: 2;
                grid-column-end: 4;
            } */
            img {
                width: 90px;
            }
            input {
                width: 25px;
                height: 25px;
            }
        }
    }
}