.page-detail {
  margin-left: 160px;
  margin-right: 170px;
  padding: 200px 30px 10px 30px;
  font-family: Arial, sans-serif;
  /* background-color: #f1f1f1; */
  .products-contain {
    display: flex;
    /* justify-content: space-between; */
  }
  .products-images {
    margin: 10px 30px 30px 10px;
  }
  .swiper {
    width: 300px;
    height: 400px;
  }
  .products-contain .Mo_ta_giay {
    margin-top: 10px;
    margin-left: 20px;
  }
  .swiper-wrapper {
    width: 300px;
    height: 400px;
  }
  .swiper-slide {
    width: 300px;
    height: 400px;
  }    
  img {
    display: block;
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: 28% 0;
  }
}