.review-page  {
    padding: 200px 30px 10px 30px;
    .cart-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ddd;
        padding: 20px;
        margin: 10px 0;
        background-color: #fff;
      }
      
      .item1 {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      
      .item1 img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-right: 20px;
        border-radius: 20px;
      }
      .product-name {
        font-size: 20px;
        font-weight: bold;
      }
      
      .cart-item p {
        margin: 5px 0;
      }
      
      .rating {
        display: flex;
        align-items: center;
      }
}